 <div id='map'                                                                 
        style='width: 91vw; height: 80vh; border-radius: 20px;'>                  
  <div>                                                                            
        <script>                                                                  
            //adds map                                                            
        mapboxgl.accessToken = 'pk.eyJ1IjoidGF5bWFub3R0IiwiYSI6ImNrZGRhZDk5MjF4azcyeWx2MW5nejM3eG8ifQ.LFKvbQSDAD2Dw5tDuKNulg';
        var map = new mapboxgl.Map({                                        
            container: 'map',                                               
            style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location   
            center: [-89.383, 43.074], // starting position [lng, lat]            
             zoom: 9 // starting zoom                                        
            });                                                             
                                                                            
                  /*  console.log(parks);                                     
                    //adds markers                                          
                    parks.features.forEach(function(marker){                
                      var el = document.createElement('div');               
                      el.className = 'parks';                               
                      new mapboxgl.Marker(el)                               
                      .setLngLat(marker.geometry.coordinates)               
                      .setPopup(new mapboxgl.Popup({offset:25})             
                     .setHTML('<h3>' + marker.properties.title + '</h3><p>' 
                      + marker.properties.description + '</p>'))            
                      .addTo(map);                                          
                    }); */                                                    
        </script>                                                           
        </div>                                                              
    </div>                      
