<html lang="en">
<head>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<%- include('./partials/head2'); %>
</head>
<body>
<header>
<%- include('./partials/header'); %>    
</header>
<%- include('./partials/map'); %>
</body>
</html>
